<div class="card card shadow-sm">
    <div class="card-header">{{ client?.name }} {{ client?.firstname }}</div>
    <div class="card-body">
      <h5 class="card-title">Titre</h5>
      <div class="card-text">
        <div>
          Date de naissance: {{ client?.birthdate | date : "dd/MM/yyyy" }}
        </div>
        <div>Tél.:{{ client?.phone }}</div>
        <div>Portable: {{ client?.gsm }}</div>
        <div>Email:{{ client?.email }}</div>
        <div>
          Adresse: {{ client?.address }} {{ client?.city }} {{ client?.zip }}
        </div>
      </div>
      <a *ngIf="list"
        routerLink="/clients/details/{{ client?.id }}"
        class="btn btn-secondary"
        >Voir</a
      >
      <div *ngIf="!list">
        <div> ... add details...</div>
        <a
        type="button"
        class="btn btn-secondary"
        routerLink="/clients/update/{{ client?.id }}"
        >
        Modifier
        </a>
    </div>
    </div>
  </div>