<div class="container">
  <h2>Chercher patients</h2>
  <p>
    <input
      class="form-control me-2"
      type="search"
      placeholder="Nom ou prénom"
      aria-label="Chercher"
      (keyup)="onChange($event)"
      (search)="onSearch($event)"
    />
  </p>
  <p>
    <a routerLink="/clients/add" class="btn btn-secondary">Nouveau patient</a>
  </p>

  <div class="row row-cotls-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let client of filteredClient">
      <app-client-card [client]="client" [list]="true"></app-client-card>
    </div>
  </div>
</div>
